@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Manrope';
    src: url('./Fonts/Manrope-Regular.ttf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Manrope';
    src: url('./Fonts/Manrope-Medium.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Manrope';
    src: url('./Fonts/Manrope-Bold.ttf');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Manrope';
    src: url('./Fonts/Manrope-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Manrope';
    src: url('./Fonts/Manrope-ExtraLight.ttf');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Manrope';
    src: url('./Fonts/Manrope-Light.ttf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Manrope';
    src: url('./Fonts/Manrope-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}


.footer_img{
    width: 100%;
    height: 313px;
    background-image: url('./assets/footer_img.png');
    background-repeat: no-repeat;
    background-size: cover;
}

body{
    background-color: #1E1E1E;
}

.footer_links_ddd{
    ul{
        margin-top: 30px;
    }
}

/* .header_nav_img{
    width: 100%;
    height: 860px;
    background: url('./assets/container_header.png') no-repeat center center;
} */

.fff_eee{
    background-image: url('./assets/Card.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 512px;
    height: 283px;
    padding: 50px 50px;
    border-radius: 25px;
}


/* Questions */

.details_ask hr{
    width: 750px;
    /* background-color: #E50000; */
    margin-top: 20px;
}